<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://kit.fontawesome.com/34f2ea95f1.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Dosis:500,600,700,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/styles.css">
    <title>forecaster</title>
</head>

<body>

    <div class="main-content">
        {{>header}}

        {{!-- body --}}
        <div class="body-container">

            <div class="results">
                <i class="fas fa-search-location"
                    style="display: block;margin-right: 0.5em; margin-bottom: 0.5em; font-size: 2em"></i>
                <span class="results">Search for forecast in the input above.</span>
            </div>


            {{!-- item --}}
            <div class="cards-container">

            </div>

        </div>

    </div>

    {{>footer}}

    <script src="js/client.js"></script>
</body>

</html>