<footer>
    <div class="container-footer">
        <img class="logo-footer" class="logo" src="./img/logo.svg" alt="">
        <p style="float: right; line-height: 2.8em ;color: #8385B1">Created by Ron Morero</p>
    </div>

</footer>