<header>
    <div class="container">
        <img class="logo-header" src="./img/logo.svg" alt="">

        <div class="search-area">
            <h3>Search for full forecast using weather api</h3>

            <form>
                <input type="text" placeholder="Tel-Aviv, Israel">
                <p class="note">forecast is using darksky & mapbox</p>
            </form>


        </div>
    </div>
</header>